<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
  <fieldset>
    <legend *ngIf="item.id" class="doc">Редактирование</legend>
    <legend *ngIf="!item.id" class="doc">Новый контакт</legend>
    <div class="input-group vertical">
      <label for="firstName">Имя</label>
      <input type="text" id="firstName" [(ngModel)]="item.firstName" name="firstName" />
    </div>
    <div class="input-group vertical">
      <label for="lastName" class="doc">Фамилия</label>
      <input type="text" id="lastName" [(ngModel)]="item.lastName" name="lastName" />
    </div>
    <div class="input-group vertical">
        <label for="phone" class="doc">Телефон</label>        
        <input type="tel" id="phone" [(ngModel)]="item.phone" name="phone" />
    </div>
  </fieldset>
  <button class="primary" type="submit">Сохранить</button>
  <button uiSref="list">Отмена</button>
</form>